@use 'variables' as vars;

:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-red: #eb5757;
  --clr-dark-blue: #63a6dc;
  --clr-blue: #d0e4f2;
  --clr-light-blue: #e6f1fa;
  --clr-hover: #f0f2f2;
  --clr-light-gray: #c4c4c4;
  --clr-gray: #bdbdbd;
  --clr-dark-gray: #828282;

  --common-py: 14px;
  --header-height: 50px;

  @media screen and (min-width: vars.$mobile) {
    --common-py: 21px;
    --header-height: 115px;
  }
}

body.static {
  overflow-y: hidden;
}

.common {
  &-root {
    position: relative;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
  }

  &-overlay {
    display: none;
    position: fixed;
    block-size: 100%;
    inline-size: 100%;
    z-index: 1;
    backdrop-filter: blur(2px);

    &.visible {
      display: block;
    }
  }

  &-container {
    max-inline-size: 1880px;
    margin-inline: auto;
    padding-inline: var(--common-py);
  }

  &-header {
    min-block-size: var(--header-height);
    color: var(--clr-white);
    background-color: var(--clr-black);
  }

  &-main {
    position: relative;
    flex-grow: 1;
  }
}
