@font-face {
  font-family: 'CeraProBlack';
  font-style: normal;
  src: url('@fonts/CeraPro-Black.woff2');
}

@font-face {
  font-family: 'CeraProBold';
  font-style: normal;
  src: url('@fonts/CeraPro-Bold.woff2');
}

@font-face {
  font-family: 'CeraProMedium';
  font-style: normal;
  src: url('@fonts/CeraPro-Medium.woff2');
}

@font-face {
  font-family: 'CeraProRegular';
  font-style: normal;
  src: url('@fonts/CeraPro-Regular.woff2');
}
