<button class="header__burger-button button button-icon" type="button">
  {% include 'src/assets/svg/menu.svg' %}
</button>

<nav class="header__burger-nav">
  <button class="header__burger-nav-close button button-link" type="button">
    {% include 'src/assets/svg/close.svg' %}
  </button>

  <ul class="header__burger-menu">
    {% for link in links %}
    <li class="header__burger-menu-item">
      {% if link.active %}
      <a
        class="header__burger-menu-link header__burger-menu-link--active"
        href="{{link.href}}"
        target="_blank">
        {{link.label}} {% include 'src/assets/svg/short-arrow-right.svg' %}
      </a>
      {% else %}
      <a class="header__burger-menu-link" href="{{link.href}}" target="_blank">
        {{link.label}} {% include 'src/assets/svg/short-arrow-right.svg' %}
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
