<button id="navMenuOpen" class="header__menu-open button-icon" type="button">
  {% include 'src/assets/svg/menu.svg' %}
</button>

<dialog id="navMenu" class="header__modal">
  <nav class="header__menu-nav">
    <a class="header__logo" href="/" target="_blank">
      {% include "src/assets/svg/logo/name.svg" %}
    </a>

    <button
      id="navMenuHide"
      class="header__menu-hide button-icon"
      type="button">
      {% include 'src/assets/svg/close.svg' %}
    </button>

    <hr />

    <ul class="header__menu-list">
      {% for link in links %}
      <li class="header__menu-item">
        <a
          class="header__menu-link{{link.active}}"
          href="{{link.href}}"
          target="_blank">
          {{link.label}} {% include 'src/assets/svg/arrow-right.svg' %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</dialog>
