<header id="header" class="header">
  <div class="header__container">
    <div class="header__content">
      <a class="header__logo" href="/" target="_blank">
        {% include "src/assets/svg/logo/label.svg" %} {% include
        "src/assets/svg/logo/name.svg" %}
      </a>
      {% include "src/pages/chunks/header/_nav.html" %} {% include
      "src/pages/chunks/header/_search.html" %}
      <a
        class="header__cart button button-link"
        href="#"
        target="_blank"
        data-count="99">
        {% include 'src/assets/svg/cart.svg' %}
      </a>
      <a
        class="header__login button button-text"
        href="login.html"
        target="_blank">
        {% include 'src/assets/svg/login.svg' %}
        <span>login</span>
      </a>
      <a
        class="header__profile button button-text"
        href="profile.html"
        target="_blank">
        {% include 'src/assets/svg/profile.svg' %}
        <span>profile</span>
      </a>
      {% include "src/pages/chunks/header/_nav-modal.html" %}
    </div>
    <hr />
  </div>
</header>
