@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.header {
  &__burger-button {
    display: flex;
  }

  &__burger-nav {
    position: fixed;
    inset-block-start: 0;
    inset-inline-end: 0;
    transform: translateX(100%);
    z-index: 2;
    text-align: right;
    inline-size: 100%;
    block-size: 100%;
    padding-inline: 16px;
    padding-block: 16px;
    background-color: vars.$white;
    box-shadow: 0 0 8px 0 vars.$black;
    transition: transform 0.2s linear;

    &.display {
      transform: translateX(0);
    }

    &-close {
      margin-block-end: 16px;
      margin-inline-start: auto;
    }
  }

  &__burger-menu {
    &-item {
      padding-block: 6px;
      border-bottom: 1px solid vars.$bg-green;
    }

    &-link {
      @include mixins.set-flex(space-between);
      padding-inline: 6px;
      padding-block: 4px;
      border-radius: 4px;
      text-transform: capitalize;

      &:not(&--active):hover {
        color: vars.$hover-gray;
        background-color: vars.$bg-gray;
      }

      &--active {
        color: vars.$white;
        background-color: vars.$green;
      }
    }
  }

  @media screen and (min-width: vars.$xs + 1) {
    &__burger-nav {
      inline-size: 50%;
    }

    @media screen and (min-width: vars.$sm + 1) {
      &__burger-button,
      &__burger-nav {
        display: none;
      }
    }
  }
}
