@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.header {
  &__nav {
    display: none;
  }

  &__list {
    @include mixins.flex(center, null, 50px);
    font-weight: 700;
    text-transform: capitalize;
  }

  &__link {
    display: block;
    position: relative;

    &:not(&--active):hover {
      color: vars.$hover-gray;
    }

    &--active {
      color: vars.$green;

      &::after {
        content: '';
        position: absolute;
        inset-inline-start: 0;
        inset-block-end: -16px;
        inline-size: 100%;
        block-size: 3px;
        background-color: vars.$green;
      }
    }
  }

  @media screen and (min-width: vars.$sm + 1) {
    &__nav {
      display: block;
      justify-self: center;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    @media screen and (min-width: vars.$lg + 1) {
      &__nav {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      &__link--active::after {
        inset-block-end: -32px;
      }
    }
  }
}
