@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.header__search {
  @include mixins.set-flex(center);
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  &-input {
    block-size: 36px;
    inline-size: 100%;
    padding-inline-start: 36px;
    border-radius: 6px;
    background-color: vars.$bg-gray;
    transition: inline-size 0.3s linear;
  }

  &-checkbox {
    display: none;
  }

  &-label {
    @include mixins.set-flex(center);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 6px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      color: vars.$hover-gray;
    }
  }

  @media screen and (min-width: vars.$sm + 1) {
    grid-row: auto;
    grid-column: auto;
    margin-inline: 24px;

    @media screen and (min-width: vars.$lg + 1) {
      margin-inline: 0;

      &-input {
        inline-size: 0;
      }

      &-checkbox:checked + &-input {
        inline-size: 200px;
        padding-inline-start: 40px;
      }
    }
  }
}
