@forward 'nav';
@forward 'search';
@forward 'burger';

@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.header {
  hr {
    block-size: 1px;
    background-color: vars.$bg-green;
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr repeat(2, auto);
    align-items: center;
    gap: 8px;
    padding-block: 8px;
  }

  &__cart {
    position: relative;
    justify-self: end;
    font-family: 'CeraProMedium', serif;
    font-size: 10px;

    &::before {
      content: '';
      position: absolute;
      block-size: 18px;
      inline-size: 18px;
      inset-inline-end: 10px;
      inset-block-start: 1px;
      background-color: vars.$white;
      border-radius: 50%;
      transform: translateX(50%);
    }

    &::after {
      @include mixins.flex(center, center);
      content: attr(data-count);
      position: absolute;
      block-size: 14px;
      inline-size: 14px;
      inset-inline-end: 10px;
      inset-block-start: 3px;
      color: vars.$white;
      background-color: vars.$green;
      border-radius: 50%;
      transform: translateX(50%);
    }

    &[data-count='0']::before,
    &[data-count='0']::after {
      display: none;
    }
  }

  &__login {
    padding-inline: 0;
    span {
      display: none;
    }
  }

  @media screen and (min-width: vars.$sm + 1) {
    &__content {
      padding-block: 16px;
    }

    &__login {
      inline-size: auto;
      padding-inline: 12px;

      span {
        display: inline;
      }
    }

    &__filter-open {
      display: none;
    }

    @media screen and (min-width: vars.$lg + 1) {
      &__content {
        grid-template-columns: auto 1fr repeat(3, auto);
        padding-block: 24px;
        column-gap: 16px;
      }
    }
  }
}
