<div id="auth" class="auth-section">
  <div class="auth-section__container">
    <div class="auth-section__tabs">
      <label for="login" class="auth-section__tab"> login </label>
      <input id="login" type="radio" name="auth" checked />
      <span class="auth-section__divider"></span>
      <label for="register" class="auth-section__tab"> register </label>
      <input id="register" type="radio" name="auth" />
    </div>

    <form class="auth-section__form" name="login" novalidate>
      <span class="auth-section__title">
        enter your email and password to login.
      </span>

      <label>
        <input
          class="auth-section__input"
          type="email"
          name="email"
          placeholder="email"
          autocomplete="email"
          required
          pattern=".+@.+\..+" />
      </label>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <label class="auth-section__label">
        <input
          class="auth-section__input"
          type="password"
          name="password"
          placeholder="password"
          required
          minlength="8"
          autocomplete="current-password"
          aria-label="login password" />
        <button
          class="auth-section__control"
          type="button"
          aria-label="show password">
          {% include "src/assets/svg/hide.svg" %}
        </button>
      </label>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <a class="auth-section__forgot" href="#" target="_blank">
        forgot password?
      </a>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <button class="auth-section__submit button button-text" type="submit">
        login
      </button>
    </form>

    <form class="auth-section__form" name="register" novalidate>
      <span class="auth-section__title">
        enter your email and password to register.
      </span>

      <label>
        <input
          class="auth-section__input"
          type="email"
          aria-label="email"
          name="email"
          placeholder="email"
          autocomplete="email"
          required
          pattern=".+@.+\..+" />
      </label>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <label class="auth-section__label">
        <input
          class="auth-section__input"
          type="password"
          name="password"
          placeholder="password"
          required
          minlength="8"
          autocomplete="new-password" />

        <button class="auth-section__control" type="button">
          {% include "src/assets/svg/hide.svg" %}
        </button>
      </label>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <label class="auth-section__label">
        <input
          class="auth-section__input"
          type="password"
          name="confirm"
          placeholder="confirm password"
          required
          autocomplete="new-password" />

        <button class="auth-section__control" type="button">
          {% include "src/assets/svg/hide.svg" %}
        </button>
      </label>

      <span class="auth-section__error" aria-live="polite" hidden></span>

      <button class="auth-section__submit button button-text" type="submit">
        register
      </button>
    </form>

    <div class="auth-section__links">
      <div class="auth-section__header">
        <hr />
        or continue with
        <hr />
      </div>
      <a class="auth-section__link button button-icon" href="#">
        continue with {% include "src/assets/svg/google.svg" %}
      </a>

      <a class="auth-section__link button button-icon" href="#">
        continue with {% include "src/assets/svg/facebook.svg" %}
      </a>
    </div>
  </div>
</div>
