<section id="cart-popup" class="cart">
  <button id="cart-close" class="cart__close" type="button">
    {% include 'src/assets/svg/close.svg' %}
  </button>

  <section class="cart-goods">
    <img
      class="cart-goods__image"
      src="@img/cart-goods-1.jpg"
      alt="goods picture" />
    <article class="cart-goods__info">
      <h4 class="cart-goods__title">Angels malu zip jeans slim black used</h4>
      <p class="cart-goods__size"><span>Size:</span> W31/L34</p>
      <p class="cart-goods__article"><span>Art.No.:</span> 434536465</p>
      <p class="cart-goods__price">1 x 129,00 EUR</p>
    </article>
    <div class="cart-goods__actions">
      <button class="cart-goods__delete" type="button">
        {% include 'src/assets/svg/delete.svg' %}
      </button>
      <button class="cart-goods__edit" type="button">
        {% include 'src/assets/svg/edit.svg' %}
      </button>
    </div>
  </section>

  <div class="cart__divider"></div>

  <section class="cart-goods">
    <img
      class="cart-goods__image"
      src="@img/cart-goods-2.jpg"
      alt="goods picture" />
    <article class="cart-goods__info">
      <h4 class="cart-goods__title">Angels malu zip jeans slim black used</h4>
      <p class="cart-goods__size"><span>Size:</span> W31/L34</p>
      <p class="cart-goods__article"><span>Art.No.:</span> 434536465</p>
      <p class="cart-goods__price">1 x 129,00 EUR</p>
    </article>
    <div class="cart-goods__actions">
      <button class="cart-goods__delete" type="button">
        {% include 'src/assets/svg/delete.svg' %}
      </button>
      <button class="cart-goods__edit" type="button">
        {% include 'src/assets/svg/edit.svg' %}
      </button>
    </div>
  </section>
</section>
