<footer id="footer" class="footer">
  <div class="footer__contacts-container container">
    <a class="footer__logo logo" href="/" target="_blank">
      {% include "src/assets/svg/logo/label.svg" %} {% include
      "src/assets/svg/logo/name.svg" %}
    </a>

    <ul class="footer__contacts-list contacts-list">
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--location contacts-link"
          href="https://maps.app.goo.gl/SqpSdQpDrXWARj5Q7"
          target="_blank">
          {% include "src/assets/svg/location.svg" %} 70 West St, Farmingdale,
          NY 11735, USA</a
        >
      </li>
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--email contacts-link"
          href="mailto:contact@greenshop.com"
          target="_blank">
          {% include "src/assets/svg/email.svg" %} contact@greenshop.com
        </a>
      </li>
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--phone contacts-link"
          href="tel:+8801911717490"
          target="_blank">
          {% include "src/assets/svg/phone.svg" %} +8801911717490</a
        >
      </li>
    </ul>
  </div>

  <div class="footer__copyright-container container">
    &#169; 2025 GreenShop. All Rights Reserved.
  </div>
</footer>
