<footer id="footer" class="footer">
  <div class="footer__contacts-container container">
    <a class="footer__logo logo" href="/" target="_blank">
      {% include "src/assets/svg/logo/label.svg" %} {% include
      "src/assets/svg/logo/name.svg" %}
    </a>
    <ul class="footer__contacts-list contacts-list">
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--location contacts-link"
          href="https://maps.app.goo.gl/SqpSdQpDrXWARj5Q7"
          target="_blank">
          {% include "src/assets/svg/location.svg" %} 70 West St, Farmingdale,
          NY 11735, USA</a
        >
      </li>
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--email contacts-link"
          href="mailto:contact@greenshop.com"
          target="_blank">
          {% include "src/assets/svg/email.svg" %} contact@greenshop.com
        </a>
      </li>
      <li class="footer__contacts-item contacts-item">
        <a
          class="footer__contacts-link footer__contacts-link--phone contacts-link"
          href="tel:+8801911717490"
          target="_blank">
          {% include "src/assets/svg/phone.svg" %} +8801911717490</a
        >
      </li>
    </ul>
  </div>

  <div class="footer__body-container container">
    <ul class="footer__plants-list plants-list">
      <li class="footer__plants-item plants-item">
        <a class="footer__plants-link plants-link" href="#" target="_blank">
          <img
            class="footer__plants-image plants-image"
            src="@img/garden-care.png"
            alt="plant picture" />

          <span class="footer__plants-title plants-title"> Garden Care </span>

          <span class="footer__plants-text plants-text">
            We are an online plant shop offering a wide range of cheap and
            trendy plants.
          </span>
        </a>
      </li>
      <li class="footer__plants-item plants-item">
        <a class="footer__plants-link plants-link" href="#" target="_blank">
          <img
            class="footer__plants-image plants-image"
            src="@img/plant-renovation.png"
            alt="plant picture" />

          <span class="footer__plants-title plants-title">
            Plant Renovation
          </span>

          <span class="footer__plants-text plants-text">
            We are an online plant shop offering a wide range of cheap and
            trendy plants.
          </span>
        </a>
      </li>
      <li class="footer__plants-item plants-item">
        <a class="footer__plants-link plants-link" href="#" target="_blank">
          <img
            class="footer__plants-image plants-image"
            src="@img/watering-graden.png"
            alt="plant picture" />

          <span class="footer__plants-title plants-title">
            Watering Graden
          </span>

          <span class="footer__plants-text plants-text">
            We are an online plant shop offering a wide range of cheap and
            trendy plants.
          </span>
        </a>
      </li>
    </ul>
    <section class="footer__newsletter newsletter">
      <h4 class="footer__newsletter-title newsletter-title">
        Would you like to join newsletters?
      </h4>
      <form class="footer__newsletter-form newsletter-form">
        <input
          type="email"
          class="footer__newsletter-input newsletter-input"
          placeholder="enter your email address..."
          aria-label="newsletter" />

        <button
          class="footer__newsletter-submit newsletter-submit button button-text"
          type="submit">
          Join
        </button>
      </form>
      <p class="footer__newsletter-text newsletter-text">
        We usually post offers and challenges in newsletter. We’re your online
        houseplant destination. We offer a wide range of houseplants and
        accessories shipped directly from our (green)house to yours!
      </p>
    </section>
    <ul class="footer__social-list social-list">
      <li class="footer__social-item social-item">
        <a
          class="footer__social-link social-link button button-icon"
          href="#"
          target="_blank">
          {% include "src/assets/svg/facebook.svg" %}
        </a>
      </li>
      <li class="footer__social-item social-item">
        <a
          class="footer__social-link social-link button button-icon"
          href="#"
          target="_blank">
          {% include "src/assets/svg/instagram.svg" %}
        </a>
      </li>
      <li class="footer__social-item social-item">
        <a
          class="footer__social-link social-link button button-icon"
          href="#"
          target="_blank">
          {% include "src/assets/svg/twitter-x.svg" %}
        </a>
      </li>
      <li class="footer__social-item social-item">
        <a
          class="footer__social-link social-link button button-icon"
          href="#"
          target="_blank">
          {% include "src/assets/svg/linkedin.svg" %}
        </a>
      </li>
      <li class="footer__social-item social-item">
        <a
          class="footer__social-link social-link button button-icon"
          href="#"
          target="_blank">
          {% include "src/assets/svg/youtube.svg" %}
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright-container container">
    &#169; 2025 GreenShop. All Rights Reserved.
  </div>
</footer>
