<header id="header" class="header">
  <div class="header__container shell">
    <div class="header__content">
      <a class="header__logo" href="/" target="_blank">
        {% include "src/assets/svg/logo/label.svg" %} {% include
        "src/assets/svg/logo/name.svg" %}
      </a>

      <nav class="header__nav nav">
        <ul class="header__menu nav__menu">
          {% for link in links %}
          <li class="header__menu-item nav__menu-item">
            <a
              class="header__menu-link header__menu-link{{'--active' if link.active }} nav__menu-link{{'--active' if link.active }} "
              href="{{link.href}}"
              target="_blank">
              {{link.label}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% include "src/pages/chunks/_search.html" %}
      <a class="header__cart" href="#" target="_blank" data-count="99">
        {% include 'src/assets/svg/cart.svg' %}
      </a>
      <button class="header__login button button-text" type="button">
        {% include 'src/assets/svg/login.svg' %}
        <span>Login</span>
      </button>

      <button class="header__burger-btn button button-icon" type="button">
        {% include 'src/assets/svg/menu.svg' %}
      </button>
    </div>
  </div>
</header>
