<header id="header" class="header">
  <div class="header__container container">
    <div class="header__content">
      <a class="header__logo logo" href="/" target="_blank">
        {% include "src/assets/svg/logo/label.svg" %} {% include
        "src/assets/svg/logo/name.svg" %}
      </a>

      <nav class="header__nav nav">
        <ul class="header__nav-menu nav-menu">
          {% for link in links %}
          <li class="header__menu-item nav-menu__menu-item menu-item">
            <a
              class="header__menu-link{{' header__menu-link--active' if link.active }} nav-menu__menu-link{{' nav-menu__menu-link--active' if link.active }} menu-link{{' menu-link--active' if link.active }}"
              href="{{link.href}}"
              target="_blank">
              {{link.label}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% include "src/pages/chunks/_search.html" %}
      <a
        class="header__cart-link cart-link button button-link"
        href="#"
        target="_blank"
        data-count="99">
        {% include 'src/assets/svg/cart.svg' %}
      </a>
      <button
        class="header__login-button login-button button button-text"
        type="button">
        {% include 'src/assets/svg/login.svg' %}
        <span>Login</span>
      </button>
      {% include "src/pages/chunks/_burger.html" %}
    </div>
  </div>
</header>
