@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.footer-body {
  &__newsletter {
    text-align: center;
    text-wrap: balance;
  }

  &__title {
    font-family: 'CeraProBold', sans-serif;
    margin-block-end: 12px;
  }

  &__form {
    inline-size: 300px;
    @include mixins.flex();
    margin-block-end: 16px;
    margin-inline: auto;
    border-radius: 6px;
  }

  &__input {
    flex-grow: 1;
    block-size: 36px;
    padding-inline-start: 10px;
    border: 1px solid vars.$bg-gray;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;

    &:focus {
      border-color: vars.$green;
    }

    &:user-invalid {
      border-color: vars.$error;
    }
  }

  &__input + &__submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &__input:invalid + &__submit {
    border-color: vars.$hover-gray;
    background-color: vars.$hover-gray;
    pointer-events: none;

    &:hover {
      border-color: vars.$hover-gray;
      background-color: vars.$hover-gray;
    }
  }

  &__text {
    color: vars.$gray;
  }

  @media screen and (min-width: vars.$md + 1) {
    &__newsletter {
      text-align: initial;
    }

    &__form {
      inline-size: 100%;
    }
  }
}
