@use '../../global/variables' as vars;
@use '../../global/mixins' as mixins;

.footer {
  &__newsletter-title {
    font-family: 'CeraProBold', serif;
    margin-block-end: 12px;
  }

  &__newsletter-form {
    @include mixins.set-flex();
    margin-block-end: 16px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 vars.$bg-gray;
  }

  &__newsletter-input {
    flex-grow: 1;
    block-size: 36px;
    padding-inline-start: 10px;
  }

  &__newsletter-text {
    color: vars.$gray;
    text-wrap: balance;
  }

  @media screen and (min-width: vars.$xs + 1) {
    &__newsletter-form {
      inline-size: 300px;
    }

    @media screen and (min-width: vars.$md + 1) {
      &__newsletter-form {
        inline-size: 100%;
      }
    }
  }
}
