@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.footer-body {
  &__newsletter {
    text-align: center;
    text-wrap: balance;
  }

  &__title {
    font-family: 'CeraProBold', serif;
    margin-block-end: 12px;
  }

  &__form {
    inline-size: 300px;
    @include mixins.set-flex();
    margin-block-end: 16px;
    margin-inline: auto;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 vars.$bg-gray;

    &:has(input:focus) {
      box-shadow: inset 0 0 10px 0 vars.$bg-green;
    }

    &:has(input:user-invalid) {
      box-shadow: inset 0 0 10px 0 vars.$error;
    }
  }

  &__input {
    flex-grow: 1;
    block-size: 36px;
    padding-inline-start: 10px;
  }

  &__input:invalid + &__submit {
    border-color: vars.$hover-gray;
    background-color: vars.$hover-gray;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      border-color: vars.$hover-gray;
      background-color: vars.$hover-gray;
    }
  }

  &__text {
    color: vars.$gray;
  }

  @media screen and (min-width: vars.$md + 1) {
    &__newsletter {
      text-align: initial;
    }

    &__form {
      inline-size: 100%;
    }
  }
}
