@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.footer {
  &__plants-divider {
    block-size: 1px;
    margin-block: 8px;
    background-color: vars.$bg-light-green;
  }

  &__plants-link {
    display: grid;
    grid-template-columns: 90px 1fr;
    column-gap: 12px;
    row-gap: 8px;
    transition: padding-block-start 0.1s linear;

    &:hover {
      padding-block-start: 4px;
      border-top: 1px solid vars.$bg-green;
      background-color: vars.$bg-light-green;
    }
  }

  &__plants-image {
    block-size: 90px;
    object-fit: contain;
    grid-row: 1 / 3;
  }

  &__plants-title {
    font-family: 'CeraProBold', serif;
  }

  &__plants-text {
    color: vars.$gray;
    text-wrap: balance;
  }

  @media screen and (min-width: vars.$xs + 1) {
    &__plants-list {
      @include mixins.set-flex();
      align-items: initial;
      text-wrap: balance;
      text-align: center;
    }

    &__plants-divider {
      block-size: 200px;
      inline-size: 1px;
      margin-block: 0;
      margin-inline: 4px;
      align-self: center;
    }

    &__plants-link {
      block-size: 100%;
      @include mixins.set-flex();
      flex-direction: column;
    }

    &__plants-title {
      flex-grow: 1;
    }

    &__plants-image {
      inline-size: auto;
    }

    @media screen and (min-width: vars.$lg + 1) {
      &__plants-list {
        text-align: initial;
      }

      &__plants-divider {
        margin-inline: 24px;
      }

      &__plants-link {
        block-size: auto;
        align-items: flex-start;
      }

      @media screen and (min-width: vars.$xl + 1) {
        &__plants-divider {
          margin-inline: 32px;
        }
      }
    }
  }
}
