@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.footer-body {
  &__social-list {
    @include mixins.flex(center, center, 8px);

    @media screen and (min-width: vars.$xs + 1) {
      gap: 24px;

      @media screen and (min-width: vars.$md + 1) {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}
