@use 'global/variables' as vars;

.welcome-section {
  swiper-container {
    &::part(bullet-active),
    &::part(bullet) {
      background-color: vars.$green;
    }
  }

  &__content {
    padding-inline: 40px;
    padding-block: 60px;
    display: grid;
    grid-template-columns: fit-content(530px) 1fr;
    row-gap: 8px;
    text-transform: uppercase;
    background-color: vars.$bg-white;
    cursor: grab;
  }

  &__title {
    font-family: 'CeraProMedium', serif;
    font-size: 14px;
  }

  &__subtitle {
    font-family: 'CeraProBold', serif;
    font-size: 70px;
    line-height: 1;

    span {
      color: vars.$green;
    }
  }

  &__description {
    font-family: 'CeraProMedium', serif;
    font-size: 14px;
    line-height: 1.8;
    color: vars.$gray;
    text-transform: lowercase;
  }

  &__link {
    inline-size: fit-content;
    margin-block-start: 16px;
  }

  &__image {
    inline-size: auto;
    justify-self: end;
    align-self: center;
    grid-column: -2 / -1;
    grid-row: 1 / 5;
  }
}
