@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.goods-section {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    scroll-margin-block-start: 64px;
  }

  &__item {
    position: relative;
    padding-inline: 6px;
    padding-block-end: 6px;
    box-shadow: 0 0 10px 0 vars.$bg-gray;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 10px 0 vars.$bg-green;

      hr {
        background-color: vars.$bg-green;
      }
    }

    hr {
      height: 1px;
      margin-block: 4px;
      background-color: vars.$bg-gray;
    }
  }

  &__controls {
    position: absolute;
    inset-block-start: 3px;
    inset-inline-end: 3px;
    @include mixins.flex(center, null, 4px);
  }

  &__control {
    min-inline-size: 24px;
    block-size: 24px;
    border-radius: 2px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__sale {
    position: absolute;
    inset-block-start: 4px;
    inset-inline-start: 0;
    padding-block: 2px;
    padding-inline: 6px;
    font-family: CeraProMedium, serif;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: vars.$white;
    background-color: vars.$green;
    &:empty {
      display: none;
    }
  }

  &__image {
    margin-block-start: 24px;
    inline-size: 100%;
    object-fit: contain;
  }

  &__price {
    display: block;
    font-family: CeraProBold, serif;
    font-size: 16px;
    color: vars.$green;

    &-current + &-previous {
      font-family: CeraProRegular, serif;
      color: vars.$hover-gray;
      text-decoration: line-through;
      margin-inline-start: 8px;
    }
  }

  &__pagination {
    @include mixins.flex(center, center, 8px);
    font-size: 16px;
  }

  &__prev,
  &__page,
  &__next {
    min-inline-size: 32px;
    block-size: 32px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__page {
    &.active {
      color: vars.$white;
      background-color: vars.$green;
      border: none;
    }
  }

  &__page.active + &__next,
  &__prev:has(+ &__page.active) {
    color: vars.$hover-gray;
    border: 1px solid currentColor;
    background-color: transparent;
    pointer-events: none;
  }

  @media screen and (min-width: vars.$xs + 1) {
    &__actions {
      @include mixins.flex(center, space-between, 8px);
    }
  }

  @media screen and (min-width: vars.$md + 1) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__pagination {
      align-self: flex-end;
    }

    &__prev,
    &__page,
    &__next {
      min-inline-size: 36px;
      block-size: 36px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    @media screen and (min-width: vars.$lg + 1) {
      &__sale {
        padding-block: 4px;
        padding-inline: 8px;
        font-size: 14px;
      }

      &__list {
        gap: 24px;
      }

      &__price {
        font-size: 18px;
      }

      &__control {
        min-inline-size: 28px;
        block-size: 28px;
        border-radius: 4px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
