@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.goods-section {
  &__plants {
    &-actions {
      @include mixins.set-flex(space-between, 8px);
      text-transform: capitalize;
    }

    &-tabs {
      @include mixins.set-flex(null, 32px);
    }

    &-tab {
      padding-block: 4px;

      &:hover {
        font-weight: 700;
      }

      &--active {
        font-weight: 700;
        color: vars.$green;
        border-bottom: 2px solid currentColor;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 40px;
      column-gap: 70px;
    }
  }
}
