@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.goods-section {
  &__select {
    @include mixins.flex(center, space-between, 32px);
    text-transform: capitalize;
    flex-wrap: wrap;
  }

  &__tabs {
    @include mixins.flex(null, null, 32px);
  }

  &__tab {
    font-size: 16px;
    padding-block: 4px;
    cursor: pointer;

    input[type='radio'] {
      display: none;
    }

    &:hover {
      font-weight: 700;
    }

    &:has(input[type='radio']:checked) {
      font-weight: 700;
      color: vars.$green;
      border-bottom: 2px solid currentColor;
    }
  }

  &__sort {
    @include mixins.flex(center);

    &-options {
      position: relative;
      cursor: pointer;

      select {
        color: vars.$green;
        padding-inline-start: 8px;
        padding-inline-end: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }

      option {
        color: vars.$black;
      }
    }
  }
}
