@forward 'filter';
@forward 'filter-modal';
@forward 'select';
@forward 'list';
@forward 'pagination';

@use '../../tools/variables' as vars;
@use '../../tools/mixins' as mixins;

.goods-section {
  &__container {
    @include mixins.flex(null, null, 24px);
  }

  &__aside {
    display: none;
    flex-basis: 300px;
    align-self: flex-start;
    padding-block: 16px;
    padding-inline: 16px;
    background-color: vars.$bg-white;
  }

  &__plants {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
    row-gap: 12px;
    font-size: 14px;
  }

  @media screen and (min-width: vars.$sm + 1) {
    &__aside {
      display: block;
    }

    &__plants {
      gap: 16px;
    }

    @media screen and (min-width: vars.$lg + 1) {
      &__container {
        gap: 50px;
      }
    }
  }
}
