<ul id="goods" class="goods-section__list">
  {% for plant in plants %}
  <li class="goods-section__item">
    <div class="goods-section__controls">
      <button class="goods-section__control button button-link" type="button">
        {% include 'src/assets/svg/heart.svg' %}
      </button>

      <button class="goods-section__control button button-link" type="button">
        {% include 'src/assets/svg/bag.svg' %}
      </button>
    </div>
    {% if plant.discount %}
    <span class="goods-section__sale">{{plant.discount}}%</span>
    {% endif %}
    <a class="goods-section__link" href="#">
      <img
        class="goods-section__image"
        src="@img/goods/plant-{{loop.index}}.png"
        alt="plant picture" />
      <hr />
      <span class="goods-section__title"> {{ plant.name }} </span>
      <span class="goods-section__price">
        {% if plant.discount %}
        <span class="goods-section__price-current">
          ${{ (plant.price * (1 - plant.discount / 100)) | round(2) }}
        </span>
        {% endif %}
        <span class="goods-section__price-previous"> ${{ plant.price }} </span>
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
