<div class="goods-section__pagination">
  <button
    class="goods-section__prev button button-link"
    type="button"
    data-page="-1">
    {% include 'src/assets/svg/short-arrow-left.svg' %}
  </button>
  <button
    class="goods-section__page button button-icon"
    type="button"
    data-page="1">
    1
  </button>
  <button
    class="goods-section__page button button-icon"
    type="button"
    data-page="2">
    2
  </button>
  <button
    class="goods-section__page button button-icon"
    type="button"
    data-page="3">
    3
  </button>
  <button
    class="goods-section__page button button-icon"
    type="button"
    data-page="4">
    4
  </button>
  <button
    class="goods-section__next button button-link"
    type="button"
    data-page="+1">
    {% include 'src/assets/svg/short-arrow-right.svg' %}
  </button>
</div>
