<form class="goods-section__select" name="select">
  <div class="goods-section__tabs">
    {% for tab in tabs %}
    <label class="goods-section__tab">
      {{ tab.name }}
      <input type="radio" name="select" value="{{ tab.value }}" />
    </label>
    {% endfor %}
  </div>

  <select class="goods-section__sort" name="sort" aria-label="goods sort">
    <button type="button" class="button-icon">
      {% include "src/assets/svg/sort.svg" %}
      <selectedcontent> </selectedcontent>
    </button>
    {% for option in options %}
    <option value="asc{{option}}">
      {{option}} {% include 'src/assets/svg/arrow-down.svg' %}
    </option>
    <option value="desc{{option}}">
      {{option}} {% include 'src/assets/svg/arrow-up.svg' %}
    </option>
    {% endfor %}
  </select>
</form>
