<form class="goods-section__select" name="select">
  <div class="goods-section__tabs">
    {% for tab in tabs %}
    <label class="goods-section__tab">
      {{ tab.name }}
      <input type="radio" name="select" value="{{ tab.value }}" />
    </label>
    {% endfor %}
  </div>

  <label class="goods-section__sort">
    sort by:
    <select name="sort">
      <button type="button">
        <selectedcontent> </selectedcontent>
      </button>
      {% for option in options %}
      <option value="asc{{option}}">
        {{option}} {% include 'src/assets/svg/arrow-down.svg' %}
      </option>
      <option value="desc{{option}}">
        {{option}} {% include 'src/assets/svg/arrow-up.svg' %}
      </option>
      {% endfor %}
    </select>
  </label>
</form>
