@use 'variables' as vars;

@mixin flex($align: null, $justify: null, $gap: null, $direction: null) {
  display: flex;

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $gap {
    gap: $gap;
  }
}
