@use '../tools/variables' as vars;
@use '../tools/mixins' as mixins;

.auth-section {
  @include mixins.flex(center);
  flex-grow: 1;

  &__container {
    @include mixins.flex(center, center, 36px, column);
    flex-grow: 1;
  }

  &__tabs {
    @include mixins.flex(center, null, 10px);
    font-family: 'CeraProMedium', sans-serif;
    text-transform: capitalize;

    &:has(#login:checked) ~ form[name='login'],
    &:has(#register:checked) ~ form[name='register'] {
      display: flex;
    }

    input[type='radio'] {
      display: none;
    }
  }

  &__divider {
    inline-size: 2px;
    block-size: 16px;
    background-color: vars.$bg-gray;
  }

  &__tab {
    cursor: pointer;

    &:has(+ input[type='radio']:checked) {
      color: vars.$green;
    }
  }

  &__form {
    inline-size: 100%;
    @include mixins.flex(null, null, 8px, column);
    display: none;
  }

  &__title {
    margin-block-end: 14px;
  }

  &__label {
    position: relative;
    inline-size: 100%;
  }

  &__control {
    @include mixins.flex(center, center);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 2px;
    transform: translateY(-50%);
  }

  &__input {
    block-size: 40px;
    inline-size: 100%;
    padding-inline-start: 14px;
    padding-inline-end: 36px;
    border: 1px solid vars.$bg-gray;
    border-radius: 7px;

    &:user-invalid {
      border-color: vars.$error;
    }

    &:focus {
      border: 1px solid vars.$green;
    }

    &[type='password'] {
      letter-spacing: 3px;

      &::placeholder {
        letter-spacing: initial;
      }
    }
  }

  &__error {
    font-size: 12px;
    color: vars.$error;
  }

  &__forgot {
    font-size: 14px;
    color: vars.$green;
    align-self: flex-end;
    text-transform: capitalize;
  }

  &__submit {
    text-transform: capitalize;
  }

  &__links {
    inline-size: 100%;
    @include mixins.flex(center, null, 14px, column);
  }

  &__header {
    inline-size: 100%;
    font-size: 14px;
    @include mixins.flex(center, null, 10px);
    margin-block-end: 22px;

    hr {
      flex-grow: 1;
      block-size: 1px;
      background-color: vars.$bg-green;
      transform: translateY(200%);
    }
  }

  &__link {
    block-size: 40px;
    inline-size: 100%;
    font-family: 'CeraProMedium', sans-serif;

    &:nth-of-type(1) {
      gap: 4px;
    }
  }

  @media screen and (min-width: vars.$xs + 1) {
    &__links,
    &__form {
      inline-size: 320px;
    }
  }
}
