<ul class="footer-contacts__list">
  <li class="footer-contacts__item">
    <a
      class="footer-contacts__link footer-contacts__link--location"
      href="https://maps.app.goo.gl/SqpSdQpDrXWARj5Q7"
      target="_blank">
      {% include "src/assets/svg/location.svg" %} 70 West St, Farmingdale, NY
      11735, USA
    </a>
  </li>
  <li class="footer-contacts__item">
    <a
      class="footer-contacts__link footer-contacts__link--email"
      href="mailto:contact@greenshop.com"
      target="_blank">
      {% include "src/assets/svg/email.svg" %} contact@greenshop.com
    </a>
  </li>
  <li class="footer-contacts__item">
    <a
      class="footer-contacts__link footer-contacts__link--phone"
      href="tel:+8801911717490"
      target="_blank">
      {% include "src/assets/svg/phone.svg" %} +8801911717490
    </a>
  </li>
</ul>
